ion-segment-button {
  --color: #fff;
  --color-check: #08a391;
  --indicator-height: 5px;
}

.calendario {
  display: flex;
  justify-content: center;
  //align-items: center;
  //height: 100vh;
}
.cal {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.modal-cal {
  --width: 50%;
}

.week-day-create-button{
  color: var(--ion-color-primary);
}

.week-day-reset-button{
  color: var(--ion-color-danger);
}

