ion-segment-button {
  --color: #fff;
  --color-check: #08a391;
  --indicator-height: 5px;
}

.calendario {
  display: flex;
  justify-content: center;
  //align-items: center;
  //height: 100vh;
}
.cal {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.modal-cal {
  --width: 50%;
}

.create-button{
  color: var(--ion-color-primary);
  --background: var(--ion-background-color-step-100);
}

.reset-button{
  color: var(--ion-color-danger);
  --background: var(--ion-background-color-step-100);
}

.event-modal-text{
  --margin-right: 1rem;
}
