ion-segment-button {
  --color: #fff;
  --color-check: #08a391;
  --indicator-height: 5px;
}

.calendario {
  display: flex;
  justify-content: center;
  //align-items: center;
  //height: 100vh;
}

.cal {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.modal-cal {
  --width: 50%;
}
/*************************************BOTONES DE LOS EVENTOS***************************************/
.create-button{ //CREAR EVENTO
  color: var(--ion-color-primary);
  --background: var(--ion-background-color-step-100);
}

.reset-button{ //RESETEAR EVENTO
  color: var(--ion-color-danger);
  --background: var(--ion-background-color-step-100);
}

.edit-button { //EDITAR EVENTO
  color: #05b10b;
  --background: var(--ion-background-color-step-100);
}

.cancel-button { //CANCELAR / ELIMINAR EVENTO
  color: var(--ion-color-danger);
  --background: var(--ion-background-color-step-100);
}
/*************************************MODAL***************************************/
.event-modal-text{
  --margin-right: 1rem;
}
/*************************************MODAL***************************************/
.modal-cal {
  --width: 50%;
  --height: 80%;
  --border-radius: 12px;
  --background: #f7f7f7;
}

.modal-header {
  --background: #4a90e2;
  color: white;
  text-align: center;
}
/*************************************BOTONES DEL MODAL***************************************/
.close-btn {
  color: #f44336;
  border:2px solid #f44336;
  border-radius: 20px;
  background-color: transparent;
  font-weight: bold;
}

.accept-btn {
  //color: black;
  border: 2px solid #4caf50;
  background-color: #4caf50;
  border-radius: 20px;
  font-weight: bold;
}

.modal-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

ion-datetime{
  --color: #333;
}

.autocomplete-container{
  width: 100%;
}

//estilos angular material select autocomplete
::ng-deep mat-option.mat-mdc-option { 
  border-bottom: #fff solid 1px; 
  margin-bottom: 3px;
  padding-bottom: 3px;
 }

 .full-width {
  padding-left: 4px;
  width: 100%;
}

::ng-deep input.mat-mdc-autocomplete-trigger { 
  border:none;
  color: white;
  background-color: transparent;
  width: 100%;
}

::ng-deep input.mat-mdc-autocomplete-trigger .ng-touched .ng-pristine .ng-valid:focus{ 
  border:none !important;
  box-shadow: 0 0 2em 0.1em #006EFF;
}
// input:placeholder-shown {
//   opacity: 0.5;
// }