// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

//variables calendario
.is-dark {
    --sx-color-primary: var(--ion-color-primary-tint);
    --sx-color-on-primary: #003ca5;
    --sx-color-primary-container: var(--ion-color-primary);
    --sx-color-background: var(--ion-background-color-step-100);
    --sx-event-modal-top: 40vh;
    --sx-event-modal-left: 20vw;
  }